<input 
    type="text"
    class="k-input k-textbox"
    id="{{vm.id}}"
    ng-model="vm.model"
    ng-required="vm.validation.required"
    data-required-msg="{{vm.title}} is required"
    name="{{vm.id}}"
    ng-init="vm.defaultValue ? vm.model = vm.defaultValue : angular.noop"
    ng-model-options="vm.modelOptions"
    ng-change="vm.onChange()"
    title='{{vm.title}}'
    placeholder="{{vm.placeholder}}" />
<span 
    class="k-invalid-msg"
    data-for="{{vm.id}}">
</span>