#
/charts/app/node_modules/*
/editable-stacked-data-grids/app/node_modules/*
/form-external-paging/app/node_modules/*
/form-with-crud/app/node_modules/*
/grid-external-filtering/app/node_modules/*
/grid-foreignkey/app/node_modules/*
/grid-image/app/node_modules/*
/GridWithFormJFP/app/node_modules/*
/list-view-crud-with-validation/app/node_modules/*
/ListView_FormWithCRUD/app/node_modules/*
/pug-2017/app/node_modules/*
#
/charts/build-output/*
/editable-stacked-data-grids/build-output/*
/form-external-paging/build-output/*
/form-with-crud/build-output/*
/grid-external-filtering/build-output/*
/grid-foreignkey/build-output/*
/grid-image/build-output/*
/GridWithFormJFP/build-output/*
/list-view-crud-with-validation/build-output/*
/ListView_FormWithCRUD/build-output/*
/pug-2017/build-output/*
#