#
/form-external-paging/app/node_modules/*
/form-with-crud/app/node_modules/*
/grid-external-filtering/app/node_modules/*
/grid-foreignkey/app/node_modules/*
/grid-image/app/node_modules/*
/GridWithFormJFP/app/node_modules/*
/list-view-crud-with-validation/app/node_modules/*
/ListView_FormWithCRUD/app/node_modules/*
#
/form-external-paging/build-output/*
/form-with-crud/build-output/*
/grid-external-filtering/build-output/*
/grid-foreignkey/build-output/*
/grid-image/build-output/*
/GridWithFormJFP/build-output/*
/list-view-crud-with-validation/build-output/*
/ListView_FormWithCRUD/build-output/*
#
/sports-sample-2018/node_modules/*