<input
    id="{{vm.id}}"
    name="{{vm.id}}"
    type="email" 
    class="k-input k-textbox"
    validationMessage="{{vm.title}} is not valid email address"
    placeholder="{{vm.options.placeholder}}" 
    ng-model="vm.model"
    ng-required="vm.validation.required"
    data-required-msg="{{vm.title}} is required"
    title="{{vm.title}}"
    ng-init="vm.options.defaultValue ? vm.model = vm.options.defaultValue : angular.noop"
    ng-model-options="{ debounce: vm.options.debounce }"
    ng-change="vm.events.onChange($event)" />
<span class="k-invalid-msg" data-for="{{vm.id}}"></span>