
<ul class="list-view-template">
    <li><i class="fa fa-id-card-o"></i>item1</li>
    <li><i class="fa fa-id-card-o"></i>item2</li>
    <li><i class="fa fa-id-card-o"></i>item3</li>
    <li><i class="fa fa-id-card-o"></i>item4</li>
</ul>