<div class="data-grid container-fluid">
    <div class="custom-html-section">
        &lt;/&gt; Custom top html section: src/html/<%= extensionFolderName %>/topSection.html
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="custom-html-section">
        &lt;/&gt; Custom middle html section: src/html/<%= extensionFolderName %>/middleSection.html
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div kendo-grid="grid" k-options="options"></div>
        </div>
    </div>
    <div class="custom-html-section">
        &lt;/&gt; Custom bottom html section: src/html/<%= extensionFolderName %>/bottomSection.html
    </div>
</div>