<div class="modal fade in" style="z-index: 1050; display: block;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="login-form panel-body">

                <div class="custom-html-section">&lt;/&gt; Custom top html section: src/html/<%= extensionFolderName %>/topSection.html</div>

                <div class="login-header">
                    <span class="dummy-logo glyphicon glyphicon-picture"></span>
                    <h2>{{title}}</h2>
                </div>

                <div class="custom-html-section">&lt;/&gt; Custom middle html section: src/html/<%= extensionFolderName %>/middleSection.html</div>

                <form>
                    <label for="username">{{usernameLabel}}</label>
                    <input type="text" name="username" id="username" class="k-textbox" />
                    <label for="username">{{passwordLabel}}</label>
                    <input type="password" name="password" id="password" class="k-textbox k-textbox" />
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </form>

                <div class="custom-html-section">&lt;/&gt; Custom bottom html section: src/html/<%= extensionFolderName %>/bottomSection.html</div>
            </div>
        </div>
    </div>
</div>