.k-panelbar {
    font-size: 16px;
}

.k-panelbar .k-item {
    overflow: hidden;
}

.k-panelbar .k-item > .k-link {
    white-space: nowrap;
}

html .k-widget.k-tooltip {
    background: #fff;
    border-color: #fff;
    color: #2d3e50;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

html .k-widget.k-tooltip .k-callout-s {
    border-top-color: #fff;
}

html .k-widget.k-tooltip .k-callout-n {
    border-bottom-color: #fff;
}

.k-tooltip {
    margin-left: 15px;
}

.k-tooltip .k-callout {
    top: -12px !important;
    left: 50% !important;
}

.k-block.k-info-colored {
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.k-block.k-info-colored h3 {
    font-size: 20px;
    font-weight: 700;
}

.k-block.k-info-colored p {
    font-size: 14px;
}

/* Bootstrap breaks the appearance of kendo radio button */
.k-radio-label:before {
    box-sizing: content-box;
}