@font-face {
    font-family: 'Geogrotesque';
    src: url('../../fonts/Geogrotesque-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeogrotesqueBold';
    src: url('../../fonts/Geogrotesque-Medium.woff');
}