<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="loginCtrl.onClose()"><span aria-hidden="true">&times;</span>
</button>

<div class="login-form panel-body">

    <div ng-include="loginCtrl.customSections.top" >
    </div>

    <div class="login-header">
        <img src="images/logo_default_login.png">
        <h2>{{loginCtrl.title}}</h2>
    </div>

    <div ng-include="loginCtrl.customSections.middle" >
    </div>
    <p class="provider-name">
        <i class="fa fa-lightbulb-o"></i>
        Authenticate for <strong ng-bind="loginCtrl.provider.name"></strong>
    </p>
    <form ng-submit="loginCtrl.onSubmit()" name="loginCtrl.form">
        <label for="username">Username</label>
        <input type="text" ng-model="loginCtrl.username" name="username" id="username" required="" class="k-textbox" />
        <span ng-show="loginCtrl.form.username.$dirty && loginCtrl.form.username.$error.required" class="help-block">Username is required</span>
        <label for="username">Password</label>
        <input type="password" ng-model="loginCtrl.password" name="password" id="password" required="" class="k-textbox" />
        <span ng-show="loginCtrl.form.password.$dirty && loginCtrl.form.password.$error.required" class="help-block">Password is required</span>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="loginCtrl.form.$invalid || loginCtrl.loading">Login</button>
    </form>

    <div class="k-widget k-notification k-notification-error" ng-show="loginCtrl.errored">
        <div class="k-notification-wrap">
            <span class="fa fa-warning"></span>
            <span ng-bind-template="{{loginCtrl.message}}" class="error-box"></span>
        </div>
    </div>

    <div ng-include="loginCtrl.customSections.bottom" >
    </div>
</div>
