<div class="kuib-radio-button-list -disabled">
    <input
        type="radio"
        name="{{id}}"
        class="k-radio"
        id="{{id}}_1"
        data-ng-value="true" />
    <label class="k-radio-label" for="{{id}}_1">{{trueText}}</label>
    <input
        type="radio"
        name="{{id}}"
        class="k-radio"
        id="{{id}}_2"
        data-ng-value="false" />
    <label class="k-radio-label" for="{{id}}_2">{{falseText}}</label>
</div>
