/* Login form */

@media (min-width: 768px) {
    .modal-dialog {
        width: 400px;
    }
}

.modal-dialog .modal-content {
    border-radius: 0;
}

/* Header */

.login-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.login-header h2 {
    margin: 0;
    font-size: 20px;
}

.login-header img {
    margin-right: 15px;
}


/* Inputs */

.login-form .btn {
    border-radius: 0;
}

.login-form .k-textbox {
    display: block;
    width: 100%;
}

.login-form input {
    margin-bottom: 20px;
}


/* Validation */
.login-form .k-notification {
    margin-top: 20px;
}

.login-form input.ng-invalid.ng-dirty {
    border-color: #f62b00;
    margin-bottom: 5px;
}

.login-form .help-block {
    margin-bottom: 0 0 20px;
    color: #f62b00;
}

.login-form .fa-warning {
    margin-right: 15px;
    font-size: 26px;
    color: #dd3c1a;
}

.login-form .k-notification-wrap {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}